.Button {
  cursor: default;
  position: absolute;
  text-align: center;
  top: 140px;
  width: 100%;
  z-index: 30;
  -webkit-app-region: no-drag;
}

.Button p {
  color: var(--color);
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.Button:hover p {
  visibility: visible;
}

.Button p span {
  margin: 0px 5px;
}

.Button p span::selection {
  margin: 0px 5px;
  background-color: transparent;
}
