.Label {
  animation-name: fade-in;
  animation-duration: 1s;
  cursor: default;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 102px;
  width: 100%;
  z-index: 20;
  -webkit-app-region: drag; /* To drag the window. */
}

.Label p {
  color: var(--color);
  font-size: 9px;
  font-weight: 200;
  letter-spacing: 1px;
}

.Label p::selection {
  background-color: transparent;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
