.StartUpMessage {
  cursor: default;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 100%;
  z-index: 20;
  -webkit-app-region: drag; /* To drag the window. */
}

.StartUpMessage p {
  color: #21212c;
  font-size: 15px;
}

.StartUpMessage p::selection {
  background-color: transparent;
}
